<html lang="en">

<head>
<title>{% block title %}Subject Tracking{% endblock %}</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/flick/jquery-ui.css" rel="stylesheet" />
<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="stylesheet" href="/static/application.css" type="text/css">
</head>


<body>

<!-- HEADER/NAVBAR -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/home">Subject Tracking</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/subjects">Subjects</a></li>
                <li><a href="/conds">Conditions</a></li>
                {% block extra_menu %}{% endblock %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="page-header" style="padding-left: 2em;">
    <h1>
    {% block display_title %} Welcome to Subject Tracking{% endblock %}
    <small>{% block display_title_sub %}
        an IIS demo application
    {% endblock %}</small>
    </h1>
</div>

<!-- MAIN CONTENT -->
<div class="container-fluid">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="row">
            <div class="col-md-5">
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{message}}
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-7">&nbsp;</div>
            </div>
        {% endif %}
    {% endwith %}

    {% block main_content %}
        Actual Page Content Will Go Here
    {% endblock %}
</div> <!-- /container -->


<!-- FOOTER -->
<div class="container-fluid" style="margin-top: 2in;">
    <div class="row">
        <div class="col-md-12">
            <img style="float:left;" class="img-responsive img-rounder" src="http://www.memphis.edu/shared/shared_rootsite/images/brandnew.jpg">
            <p style="float:right;"><small>Institute for Intelligent Systems, {{g.year}}</small></p>
            <br style="clear:both">
        </div>
    </div>
</div>


<!-- JAVASCRIPT RESOURCES -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.min.js"></script>

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<!--<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>-->

<script type="text/javascript" src="/static/application.js"></script>

{% block extra_js %}
{% endblock %}

</body>
</html>
