{% extends "base.html" %}

{% block title %} Edit Experimental Condition {% endblock %}
{% block display_title %} Experimental Condition {% endblock %}
{% block display_title_sub %} Edit {% endblock %}

{% block extra_menu %}{% endblock %}

{% block main_content %}
    <div class="row">
    <div class="col-md-6">
        <form method="POST">
            <div class="form-group">
                <label for="condition_id">Condition ID</label>

                {% if allow_key_edit %}
                    <input type="text" class="form-control"
                        id="condition_id"
                        value="{{condition.condition_id}}"
                        placeholder="How the condition is identified"
                        required>
                {% else %}
                    <input type="text" class="form-control"
                        id="condition_id_readonly"
                        value="{{condition.condition_id}}"
                        disabled>
                    <input type="hidden" class="form-control"
                        id="condition_id"
                        value="{{condition.condition_id}}">
                {% endif %}
            </div>

            <div class="form-group">
                <label for="condition_name">Condition Name</label>
                <input type="text" class="form-control" id="condition_name"
                    value="{{condition.condition_name}}"
                    required placeholder="User-friendly text name for the condition">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" class="form-control" placeholder="A helpful description for you"
                >{{condition.description or ''}}</textarea>
            </div>

            <button type="submit" class="btn btn-primary pull-right">Save</button>
            <span class="pull-right">&nbsp;</span>
            <a class="btn btn-info pull-right" href="/conds">Cancel</a>
            <div class="clearfix">&nbsp;</div>
        </form>
    </div>

    <div class="col-md-6">
        {% for errmsg in errors %}
            <div class="alert alert-danger" role="alert">{{errmsg}}</div>
        {% endfor %}
    </div>

    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
